@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Laila", sans-serif;
  background-color: #fefefe;
  color: #1b1b1b;
  text-align: center;
  overflow-x: hidden;
}

.main-header {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0.75rem 0;
}

.events-wrapper {
  margin: 0;
  padding: 0s;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.seasons-container,
.events-container {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(25vh, 300px);
  gap: 1.25rem;
}

.events-container {
  grid-template-rows: repeat(2, minmax(25vh, 300px));
}

.season,
.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-title {
  position: relative;
  margin: 1.25rem 0;
  padding: 0.15rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 25px;
  color: #fefefe;
}

.countdown-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  margin: 1.25rem 0;
}

.countdown-box {
  width: 100%;
  padding: 0.5rem 0;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: #fefefe;
}

.countdown-box .time {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.countdown-box span {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.spring {
  background-image: url("/images/seasons/spring.jpg");
}
.summer {
  background-image: url("/images/seasons/summer.jpg");
}
.autumn {
  background-image: url("/images/seasons/autumn.jpg");
}
.winter {
  background-image: url("/images/seasons/winter.jpg");
}

.easter {
  background-image: url("/images/events/easter.jpg");
}
.halloween {
  background-image: url("/images/events/halloween.jpg");
}
.christmas {
  background-image: url("/images/events/christmas.jpg");
}
.new-years-eve {
  background-image: url("/images/events/newYearsEve.jpg");
}
.mothers-day {
  background-image: url("/images/events/mothersDay.jpg");
}
.fathers-day {
  background-image: url("/images/events/fathersDay.jpg");
}
.lgbt-day {
  background-image: url("/images/events/lgbt.jpg");
}
.america-independence-day {
  background-image: url("/images/events/americaIndependenceDay.jpg");
}

@media only screen and (max-width: 1600px) {
  .seasons-container,
  .events-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(30vh, 350px));
  }

  .events-container {
    grid-template-rows: repeat(4, minmax(30vh, 350px));
  }
}

@media only screen and (max-width: 800px) {
  .seasons-container,
  .events-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, minmax(30vh, 300px));
  }
  
  .events-container {
    grid-template-rows: repeat(8, minmax(30vh, 350px));
  }
}







